/* Settings Styles */

.settings-container {
    display: flex;
    flex-direction: column;
    min-width: 275px;
    color: white;
}

.settings-inner-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 1500px;
    align-items: center;
    background-color: #222;
}

.settings-outer-container {
    display: grid;
    height: 100vh;
    background-color: #222;
}

.template-form-padding {
    margin-bottom: 1em;
}

.settings-label {
    height: 50px;
}

.tooltip {
    margin-left: 10px;
    height: 20px;
}

.template-area-label h3 {
    margin-bottom: 0;
}

.template-label {
    display: flex;
    align-items: center;
}

.settings-form {
    display: flex;
    flex-direction: column;
}

.settings-select,
.create-template-input {
    height: 45px;
    width: 100%;
}

.edit-template-area {
    height: 600px;
    width: 600px;
    margin-top: 1.5em;
}

.current-template-readout {
    padding: 15px 7px;
    background-color: antiquewhite;
    color: black;
    border-radius: 5px;
}

.template-area-div {
    margin-top: 25px;
    color: white;
}
