@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

.dark-mode {
    background-color: #333;
}

body {
    margin: 0;
    font-family: 'Open Sans', 'san-serif';
}

.container {
    border-radius: 5px;
    padding: .5em;
    background-color: rgb(243, 243, 247);
}

.containers {
    display: grid;
    gap: 1.5em;
    margin: 2em;
    margin-top: 3em;
}

.container-title {
    margin-left: 1em;
    font-size: 1.2em;
}

body {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-right: 1em;
    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar {
    background-color: black;
    font-size: .9em;
}

.fields  {
    margin-left: 2em;
    margin-right: 2em;
}

header {
    border-bottom: 1px solid #333;
}

.nav-btn {
    margin-right: 1em;
    margin-left: 1em;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav-btn:hover {
    cursor: pointer;
}

.small-button {
    border-radius: 5px;
    border: 0px;
    box-shadow: 1px 1px black;
}

.small-button:hover {
    cursor: pointer;
    background-color: #dddddd;
}

.flex-outer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-button {
    padding: 10px 20px;
    border-radius: 7px;
    border: 0px;
    background-color: #05386B;
    color: white;
    letter-spacing: .05rem;
    box-shadow: 2px 1px #555;
}

.giant-button {
    padding: 20px 45px;
    border-radius: 7px;
    font-size: 1.4em;
    border: 0px;
    background-color: #05386B;
    color: white;
    letter-spacing: .05rem;
    box-shadow: 2px 2px #000;
}

.giant-button:hover {
    cursor: pointer;
}

footer {
    font-size: .7em;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

.giant-button-container {   
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
}

.field-label {
    font-weight: bold;
}

.big-button:hover {
    cursor: pointer;
    background-color: #042951;
}

.big-button:active:hover, .small-button:active:hover, .giant-button:active:hover {
    box-shadow: none;
}

.big-button-container {
    text-align: center;
    margin-bottom: .5em;
}

.mapping-not-found {
    color: red;
}

.logout-btn {
    color: white;
    text-decoration: none;
    margin-left: 2em;
    font-weight: 600;
}

.logout-btn:hover, .nav-btn:hover {
    color: #229ad5;
    transition: 0.2s;
}

.selected-route {
    color: #229ad5;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logout-section {
    color: white;
}

.streambox-logo {
    width: 300px;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container .container {
    min-width: 400px;
}

.input-label {
    font-weight: bold;
    margin-left: 2em;
    margin-right: 2em;
}

.input-div {
    padding: .5em;
}

.video {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border: 1px solid black;
    background-color: #229ad5;
    color: white;
}

@media only screen and (max-width: 1155px) {
    #root {
        width: fit-content;
    }
  }
